:root {
	--arrow-size: 15px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  
	border-bottom: var(--arrow-size) solid rgb(0, 196, 0);
	cursor: pointer;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  
	border-top: var(--arrow-size) solid rgb(255, 77, 77);
	cursor: pointer;
}

.order-manager {
	text-align: center;
}

.order-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.order-item {
	display: grid;
	text-align: start;
	text-transform: uppercase;
	grid-template-columns: 3fr 1fr 1fr;
	margin: 4px;
	background-color: white;
	padding: 10px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
	font-weight: bold;
}

.order-button, .image-display-button {
	display: block;
	outline: none;
	border: none;
	background-color: rgb(122, 122, 255);
	border-radius: 4px;
	padding: 8px;
	font-size: 15px;
	width: 180px;
	color: white;
	cursor: pointer;
	margin: 5px auto;
}

.image-display-button {
	background-color: rgb(255, 102, 102);
	cursor: pointer;
	margin: 5px auto;
}

.button-centere {
	text-align: center;
}

